* {box-sizing: border-box; }

#flex-container { display: flex; height: 300px; flex-wrap: wrap; }
/* #flex-container > div { width: 20%; margin: 0px; padding: 0px; } */

h3 {
    color: rgb(76, 87, 241);
    /* text-shadow: 1px 1px #732372, 1px -1px #732372, -1px 1px #732372, -1px -1px #732372, 3px 3px 6px rgba(0,0,0,.5); */
  }

 h1 {
    color: rgb(76, 87, 241); 
    font-size: 40pt;
    text-shadow: -1px 0 1px white, 0 -1px 1px white, 0 1px 1px white, 1px 0 1px white, 0 0 8px white, 0 0 8px white, 0 0 8px white, 2px 2px 3px black;
  }
